{% extends "base.html" %}

{% block content %}
  <div class="index">
    <p class="h1">Taxi Service Home</p>
    <p>Welcome to Best Taxi Ever!</p>
    <h2>Dynamic content</h2>
    <p>The Taxi service has the following record counts:</p>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <strong>Cars:</strong>
          <span class="badge badge-dark badge-pill">{{ num_cars }}</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <strong>Drivers:</strong>
          <span class="badge badge-dark badge-pill">{{ num_drivers }}</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <strong>Manufacturers:</strong>
          <span class="badge badge-dark badge-pill">{{ num_manufacturers }}</span></li>
    </ul>

    <p>You have visited this page
        {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>
  </div>

{% endblock %}
