{% load static %}
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-2 pb-0">
    <!-- Section: Social media -->
    <section class="mb-1">
      <!-- Facebook -->
      <a class="btn btn-outline-light m-1" href="https://www.facebook.com/alex.bodnarchuk.5/" role="button">
        <img src="{% static 'images/social_icons/facebook.svg' %}" width="20" height="20" alt="">
      </a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light m-1" href="https://www.linkedin.com/in/oleksiibodnarchuk" role="button">
        <img src="{% static 'images/social_icons/linkedin.svg' %}" width="20" height="20" alt="">
      </a>

      <!-- Github -->
      <a class="btn btn-outline-light m-1" href="https://github.com/AlexBOVUKR" role="button">
        <img src="{% static 'images/social_icons/github.svg' %}" width="20" height="20" alt="">
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 All rights reserved
  </div>
  <!-- Copyright -->
</footer>